.pagination ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

.pagination li {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  min-width: 30px;
  margin: 2px;
  color: #000000 !important;
}

.pagination li a {
  color: #000000 !important;
}

.pagination .selected {
  background-color: #7550FF;
}

.pagination .selected a {
  color: #FFFFFF !important;
}

.pagination .disabled a {
  color: #ccc !important;
}
